In [1]:
import requests

# 替换为你的 Steam 32位 ID
account_id = '218774917'

# 构建请求 URL
url = f'https://api.opendota.com/api/players/{218774917}/matches'

# 发送请求
response = requests.get(url)

# 检查请求是否成功
if response.status_code == 200:
    # 解析返回的 JSON 数据
    matches = response.json()
    # 这里可以添加代码来处理和保存这些数据
else:
    print("请求失败，状态码：", response.status_code)

In [2]:
import pandas as pd

# 假设 'matches' 是从 OpenDota API 获取的 JSON 数据
df = pd.DataFrame(matches)

# 保存为 CSV 文件
df.to_csv('dota2_matches.csv', index=False)

In [3]:
df

,match_id,player_slot,radiant_win,duration,game_mode,lobby_type,hero_id,start_time,version,kills,deaths,assists,skill,average_rank,leaver_status,party_size
0,7315003851,129,True,3352,22,7,35,1693625827,NaN,12,10,21,NaN,43.0,0,2.0
1,7314979360,131,True,1246,22,7,36,1693624078,NaN,4,3,2,NaN,43.0,0,2.0
2,7314947900,130,False,1969,22,7,39,1693621790,NaN,13,1,14,NaN,41.0,0,2.0
3,7295981381,130,False,2489,22,7,37,1692618713,NaN,11,7,30,NaN,33.0,0,1.0
4,7295469023,1,False,2689,22,7,36,1692586720,NaN,15,11,10,NaN,41.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2423,2545448108,4,True,2463,1,0,49,1470184008,NaN,7,3,11,NaN,NaN,0,NaN
2424,2543411216,1,False,2237,1,0,71,1470100138,NaN,5,12,4,NaN,NaN,0,NaN
2425,2543382751,129,True,1941,1,0,104,1470097909,NaN,0,11,5,NaN,NaN,0,NaN
2426,2541299370,4,True,2366,1,0,71,1470011621,NaN,3,7,18,NaN,NaN,0,NaN
2427,2464506458,3,False,3033,1,0,18,1466988146,NaN,2,8,14,NaN,NaN,0,NaN

In [19]:
import pandas as pd

# 载入用户提供的 Dota 2 数据文件
file_path = 'dota2_matches.csv'
dota2_data = pd.read_csv(file_path)

# 显示数据的前几行以了解其结构
dota2_data.head()

,match_id,player_slot,radiant_win,duration,game_mode,lobby_type,hero_id,start_time,version,kills,deaths,assists,skill,average_rank,leaver_status,party_size
0,7315003851,129,True,3352,22,7,35,1693625827,NaN,12,10,21,NaN,43.0,0,2.0
1,7314979360,131,True,1246,22,7,36,1693624078,NaN,4,3,2,NaN,43.0,0,2.0
2,7314947900,130,False,1969,22,7,39,1693621790,NaN,13,1,14,NaN,41.0,0,2.0
3,7295981381,130,False,2489,22,7,37,1692618713,NaN,11,7,30,NaN,33.0,0,1.0
4,7295469023,1,False,2689,22,7,36,1692586720,NaN,15,11,10,NaN,41.0,0,1.0

In [20]:
from datetime import datetime

# 移除可能不需要的列
columns_to_remove = ['version']
dota2_data_cleaned = dota2_data.drop(columns=columns_to_remove)

# 转换时间戳为易读的日期格式
dota2_data_cleaned['start_time'] = pd.to_datetime(dota2_data_cleaned['start_time'], unit='s')

# 计算 KDA（击杀-死亡-助攻）比率，注意避免除以零
dota2_data_cleaned['KDA'] = (dota2_data_cleaned['kills'] + dota2_data_cleaned['assists']) / dota2_data_cleaned['deaths'].replace(0, 1)

# 标记胜负
# 如果 player_slot 小于 128 且 radiant_win 为 True，或者 player_slot 大于等于 128 且 radiant_win 为 False，则为胜利
dota2_data_cleaned['win'] = ((dota2_data_cleaned['player_slot'] < 128) & dota2_data_cleaned['radiant_win']) | \
                            ((dota2_data_cleaned['player_slot'] >= 128) & ~dota2_data_cleaned['radiant_win'])

# 显示处理后的数据的前几行
dota2_data_cleaned.head()

,match_id,player_slot,radiant_win,duration,game_mode,lobby_type,hero_id,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win
0,7315003851,129,True,3352,22,7,35,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.300000,False
1,7314979360,131,True,1246,22,7,36,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.000000,False
2,7314947900,130,False,1969,22,7,39,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.000000,True
3,7295981381,130,False,2489,22,7,37,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.857143,True
4,7295469023,1,False,2689,22,7,36,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.272727,False

In [21]:
import requests

# Dota 2 API Endpoint to fetch hero information
url = "https://api.opendota.com/api/heroes"

# Sending a request to the API to get hero data
response = requests.get(url)

# Initialize an empty dictionary for hero ID to name mapping
hero_id_to_name = {}

if response.status_code == 200:
    heroes_data = response.json()
    # Create a mapping of hero ID to hero name
    hero_id_to_name = {hero['id']: hero['localized_name'] for hero in heroes_data}
else:
    print("Failed to fetch heroes data. Status Code:", response.status_code)

# Let's see a small part of the mapping
list(hero_id_to_name.items())[:5]  # Displaying first 5 mappings as an example

[(1, 'Anti-Mage'),
 (2, 'Axe'),
 (3, 'Bane'),
 (4, 'Bloodseeker'),
 (5, 'Crystal Maiden')]

In [22]:
hero_id_to_name

{1: 'Anti-Mage',
 2: 'Axe',
 3: 'Bane',
 4: 'Bloodseeker',
 5: 'Crystal Maiden',
 6: 'Drow Ranger',
 7: 'Earthshaker',
 8: 'Juggernaut',
 9: 'Mirana',
 10: 'Morphling',
 11: 'Shadow Fiend',
 12: 'Phantom Lancer',
 13: 'Puck',
 14: 'Pudge',
 15: 'Razor',
 16: 'Sand King',
 17: 'Storm Spirit',
 18: 'Sven',
 19: 'Tiny',
 20: 'Vengeful Spirit',
 21: 'Windranger',
 22: 'Zeus',
 23: 'Kunkka',
 25: 'Lina',
 26: 'Lion',
 27: 'Shadow Shaman',
 28: 'Slardar',
 29: 'Tidehunter',
 30: 'Witch Doctor',
 31: 'Lich',
 32: 'Riki',
 33: 'Enigma',
 34: 'Tinker',
 35: 'Sniper',
 36: 'Necrophos',
 37: 'Warlock',
 38: 'Beastmaster',
 39: 'Queen of Pain',
 40: 'Venomancer',
 41: 'Faceless Void',
 42: 'Wraith King',
 43: 'Death Prophet',
 44: 'Phantom Assassin',
 45: 'Pugna',
 46: 'Templar Assassin',
 47: 'Viper',
 48: 'Luna',
 49: 'Dragon Knight',
 50: 'Dazzle',
 51: 'Clockwerk',
 52: 'Leshrac',
 53: "Nature's Prophet",
 54: 'Lifestealer',
 55: 'Dark Seer',
 56: 'Clinkz',
 57: 'Omniknight',
 58: 'Enchantress',
 59: 'Huskar',
 60: 'Night Stalker',
 61: 'Broodmother',
 62: 'Bounty Hunter',
 63: 'Weaver',
 64: 'Jakiro',
 65: 'Batrider',
 66: 'Chen',
 67: 'Spectre',
 68: 'Ancient Apparition',
 69: 'Doom',
 70: 'Ursa',
 71: 'Team Spirit Breaker',
 72: 'Gyrocopter',
 73: 'Alchemist',
 74: 'Invoker',
 75: 'Silencer',
 76: 'Outworld Destroyer',
 77: 'Lycan',
 78: 'Brewmaster',
 79: 'Shadow Demon',
 80: 'Lone Druid',
 81: 'Chaos Knight',
 82: 'Meepo',
 83: 'Treant Protector',
 84: 'Ogre Magi',
 85: 'Undying',
 86: 'Rubick',
 87: 'Disruptor',
 88: 'Nyx Assassin',
 89: 'Naga Siren',
 90: 'Keeper of the Light',
 91: 'Io',
 92: 'Visage',
 93: 'Slark',
 94: 'Medusa',
 95: 'Troll Warlord',
 96: 'Centaur Warrunner',
 97: 'Magnus',
 98: 'Timbersaw',
 99: 'Bristleback',
 100: 'Tusk',
 101: 'Skywrath Mage',
 102: 'Abaddon',
 103: 'Elder Titan',
 104: 'Legion Commander',
 105: 'Techies',
 106: 'Ember Spirit',
 107: 'Earth Spirit',
 108: 'Underlord',
 109: 'Terrorblade',
 110: 'Phoenix',
 111: 'Oracle',
 112: 'Winter Wyvern',
 113: 'Arc Warden',
 114: 'Monkey King',
 119: 'Dark Willow',
 120: 'Pangolier',
 121: 'Grimstroke',
 123: 'Hoodwink',
 126: 'Void Spirit',
 128: 'Snapfire',
 129: 'Mars',
 135: 'Dawnbreaker',
 136: 'Marci',
 137: 'Primal Beast',
 138: 'Muerta'}

In [23]:
# 应用映射将 hero_id 替换为英雄名称
dota2_data_cleaned['hero_name'] = dota2_data_cleaned['hero_id'].map(hero_id_to_name)

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,player_slot,radiant_win,duration,game_mode,lobby_type,hero_id,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win,hero_name
0,7315003851,129,True,3352,22,7,35,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.300000,False,Sniper
1,7314979360,131,True,1246,22,7,36,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.000000,False,Necrophos
2,7314947900,130,False,1969,22,7,39,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.000000,True,Queen of Pain
3,7295981381,130,False,2489,22,7,37,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.857143,True,Warlock
4,7295469023,1,False,2689,22,7,36,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.272727,False,Necrophos

In [24]:
# 添加新列 'team' 来表示玩家所在的队伍
dota2_data_cleaned['team'] = dota2_data_cleaned['player_slot'].apply(lambda x: 'Radiant' if x < 128 else 'Dire')

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,player_slot,radiant_win,duration,game_mode,lobby_type,hero_id,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team
0,7315003851,129,True,3352,22,7,35,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.300000,False,Sniper,Dire
1,7314979360,131,True,1246,22,7,36,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.000000,False,Necrophos,Dire
2,7314947900,130,False,1969,22,7,39,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.000000,True,Queen of Pain,Dire
3,7295981381,130,False,2489,22,7,37,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.857143,True,Warlock,Dire
4,7295469023,1,False,2689,22,7,36,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.272727,False,Necrophos,Radiant

In [25]:
# 映射表：将 game_mode 和 lobby_type 的数字代码转换为文字描述
game_mode_names = {
    1: 'All Pick', 2: 'Captain\'s Mode', 3: 'Random Draft', 4: 'Single Draft',
    5: 'All Random', 22: 'Ranked All Pick'
    # 这里只包括了一些常见的模式，可以根据需要添加更多
}

lobby_type_names = {
    0: 'Normal', 1: 'Practice', 2: 'Tournament', 3: 'Tutorial', 4: 'Co-op with bots',
    5: 'Team match', 6: 'Solo Queue', 7: 'Ranked'
    # 同样，这里只包括了一些常见的类型
}

# 应用映射将数字代码替换为文字描述
dota2_data_cleaned['game_mode_name'] = dota2_data_cleaned['game_mode'].map(game_mode_names)
dota2_data_cleaned['lobby_type_name'] = dota2_data_cleaned['lobby_type'].map(lobby_type_names)

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,player_slot,radiant_win,duration,game_mode,lobby_type,hero_id,start_time,kills,deaths,...,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team,game_mode_name,lobby_type_name
0,7315003851,129,True,3352,22,7,35,2023-09-02 03:37:07,12,10,...,NaN,43.0,0,2.0,3.300000,False,Sniper,Dire,Ranked All Pick,Ranked
1,7314979360,131,True,1246,22,7,36,2023-09-02 03:07:58,4,3,...,NaN,43.0,0,2.0,2.000000,False,Necrophos,Dire,Ranked All Pick,Ranked
2,7314947900,130,False,1969,22,7,39,2023-09-02 02:29:50,13,1,...,NaN,41.0,0,2.0,27.000000,True,Queen of Pain,Dire,Ranked All Pick,Ranked
3,7295981381,130,False,2489,22,7,37,2023-08-21 11:51:53,11,7,...,NaN,33.0,0,1.0,5.857143,True,Warlock,Dire,Ranked All Pick,Ranked
4,7295469023,1,False,2689,22,7,36,2023-08-21 02:58:40,15,11,...,NaN,41.0,0,1.0,2.272727,False,Necrophos,Radiant,Ranked All Pick,Ranked

In [26]:
# 映射表：将 game_mode 和 lobby_type 的数字代码转换为文字描述
game_mode_names = {
    1: 'All Pick', 2: 'Captain\'s Mode', 3: 'Random Draft', 4: 'Single Draft',
    5: 'All Random', 22: 'Ranked All Pick'
    # 这里只包括了一些常见的模式，可以根据需要添加更多
}

lobby_type_names = {
    0: 'Normal', 1: 'Practice', 2: 'Tournament', 3: 'Tutorial', 4: 'Co-op with bots',
    5: 'Team match', 6: 'Solo Queue', 7: 'Ranked'
    # 同样，这里只包括了一些常见的类型
}

# 应用映射将数字代码替换为文字描述
dota2_data_cleaned['game_mode_name'] = dota2_data_cleaned['game_mode'].map(game_mode_names)
dota2_data_cleaned['lobby_type_name'] = dota2_data_cleaned['lobby_type'].map(lobby_type_names)

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,player_slot,radiant_win,duration,game_mode,lobby_type,hero_id,start_time,kills,deaths,...,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team,game_mode_name,lobby_type_name
0,7315003851,129,True,3352,22,7,35,2023-09-02 03:37:07,12,10,...,NaN,43.0,0,2.0,3.300000,False,Sniper,Dire,Ranked All Pick,Ranked
1,7314979360,131,True,1246,22,7,36,2023-09-02 03:07:58,4,3,...,NaN,43.0,0,2.0,2.000000,False,Necrophos,Dire,Ranked All Pick,Ranked
2,7314947900,130,False,1969,22,7,39,2023-09-02 02:29:50,13,1,...,NaN,41.0,0,2.0,27.000000,True,Queen of Pain,Dire,Ranked All Pick,Ranked
3,7295981381,130,False,2489,22,7,37,2023-08-21 11:51:53,11,7,...,NaN,33.0,0,1.0,5.857143,True,Warlock,Dire,Ranked All Pick,Ranked
4,7295469023,1,False,2689,22,7,36,2023-08-21 02:58:40,15,11,...,NaN,41.0,0,1.0,2.272727,False,Necrophos,Radiant,Ranked All Pick,Ranked

In [27]:
# 删除指定的列：player_slot, game_mode, lobby_type, hero_id
columns_to_delete = ['player_slot', 'game_mode', 'hero_id','lobby_type']
dota2_data_cleaned = dota2_data_cleaned.drop(columns=columns_to_delete)

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,radiant_win,duration,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team,game_mode_name,lobby_type_name
0,7315003851,True,3352,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.300000,False,Sniper,Dire,Ranked All Pick,Ranked
1,7314979360,True,1246,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.000000,False,Necrophos,Dire,Ranked All Pick,Ranked
2,7314947900,False,1969,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.000000,True,Queen of Pain,Dire,Ranked All Pick,Ranked
3,7295981381,False,2489,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.857143,True,Warlock,Dire,Ranked All Pick,Ranked
4,7295469023,False,2689,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.272727,False,Necrophos,Radiant,Ranked All Pick,Ranked

In [28]:
# 删除 'radiant_win' 列
dota2_data_cleaned = dota2_data_cleaned.drop(columns=['radiant_win'])

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,duration,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team,game_mode_name,lobby_type_name
0,7315003851,3352,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.300000,False,Sniper,Dire,Ranked All Pick,Ranked
1,7314979360,1246,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.000000,False,Necrophos,Dire,Ranked All Pick,Ranked
2,7314947900,1969,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.000000,True,Queen of Pain,Dire,Ranked All Pick,Ranked
3,7295981381,2489,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.857143,True,Warlock,Dire,Ranked All Pick,Ranked
4,7295469023,2689,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.272727,False,Necrophos,Radiant,Ranked All Pick,Ranked

In [29]:
# 将 'duration' 列的格式从秒转换为 '分钟:秒'
dota2_data_cleaned['duration'] = dota2_data_cleaned['duration'].apply(lambda x: f"{x // 60}:{x % 60:02d}")

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,duration,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team,game_mode_name,lobby_type_name
0,7315003851,55:52,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.300000,False,Sniper,Dire,Ranked All Pick,Ranked
1,7314979360,20:46,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.000000,False,Necrophos,Dire,Ranked All Pick,Ranked
2,7314947900,32:49,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.000000,True,Queen of Pain,Dire,Ranked All Pick,Ranked
3,7295981381,41:29,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.857143,True,Warlock,Dire,Ranked All Pick,Ranked
4,7295469023,44:49,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.272727,False,Necrophos,Radiant,Ranked All Pick,Ranked

In [30]:
# 映射表：将 average_rank 的数字代码转换为 Dota 2 的具体排名名称
rank_names = {
    range(1, 11): 'Herald',
    range(11, 21): 'Guardian',
    range(21, 31): 'Crusader',
    range(31, 41): 'Archon',
    range(41, 51): 'Legend',
    range(51, 61): 'Ancient',
    range(61, 71): 'Divine',
    range(71, 81): 'Immortal'
}

# 应用映射将数字代码替换为排名名称
dota2_data_cleaned['average_rank_name'] = dota2_data_cleaned['average_rank'].apply(
    lambda x: next((name for ranks, name in rank_names.items() if x in ranks), 'Unknown'))

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,duration,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team,game_mode_name,lobby_type_name,average_rank_name
0,7315003851,55:52,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.300000,False,Sniper,Dire,Ranked All Pick,Ranked,Legend
1,7314979360,20:46,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.000000,False,Necrophos,Dire,Ranked All Pick,Ranked,Legend
2,7314947900,32:49,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.000000,True,Queen of Pain,Dire,Ranked All Pick,Ranked,Legend
3,7295981381,41:29,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.857143,True,Warlock,Dire,Ranked All Pick,Ranked,Archon
4,7295469023,44:49,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.272727,False,Necrophos,Radiant,Ranked All Pick,Ranked,Legend

In [31]:
# 将 KDA 的数据保留到小数点后两位
dota2_data_cleaned['KDA'] = dota2_data_cleaned['KDA'].round(2)

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,duration,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team,game_mode_name,lobby_type_name,average_rank_name
0,7315003851,55:52,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.30,False,Sniper,Dire,Ranked All Pick,Ranked,Legend
1,7314979360,20:46,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.00,False,Necrophos,Dire,Ranked All Pick,Ranked,Legend
2,7314947900,32:49,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.00,True,Queen of Pain,Dire,Ranked All Pick,Ranked,Legend
3,7295981381,41:29,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.86,True,Warlock,Dire,Ranked All Pick,Ranked,Archon
4,7295469023,44:49,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.27,False,Necrophos,Radiant,Ranked All Pick,Ranked,Legend

In [32]:
# 转换 party_size 列为描述性的文本
dota2_data_cleaned['party_size_desc'] = dota2_data_cleaned['party_size'].apply(
    lambda x: 'Solo' if x == 1 else f'Party of {int(x)}' if x > 1 else 'Unknown'
)

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,duration,start_time,kills,deaths,assists,skill,average_rank,leaver_status,party_size,KDA,win,hero_name,team,game_mode_name,lobby_type_name,average_rank_name,party_size_desc
0,7315003851,55:52,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,2.0,3.30,False,Sniper,Dire,Ranked All Pick,Ranked,Legend,Party of 2
1,7314979360,20:46,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.0,2.00,False,Necrophos,Dire,Ranked All Pick,Ranked,Legend,Party of 2
2,7314947900,32:49,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,2.0,27.00,True,Queen of Pain,Dire,Ranked All Pick,Ranked,Legend,Party of 2
3,7295981381,41:29,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,1.0,5.86,True,Warlock,Dire,Ranked All Pick,Ranked,Archon,Solo
4,7295469023,44:49,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,1.0,2.27,False,Necrophos,Radiant,Ranked All Pick,Ranked,Legend,Solo

In [33]:
# 删除 'party_size' 列
dota2_data_cleaned = dota2_data_cleaned.drop(columns=['party_size'])

# 解释 skill 和 leaver_status 的含义
# skill: 通常代表玩家的技能等级。可能包含的值及其含义可能有所不同，但通常是如下：
# - 1: Normal Skill
# - 2: High Skill
# - 3: Very High Skill

# leaver_status: 表示玩家在比赛结束时的状态。
# - 0: 正常完成比赛
# - 1: 离开了比赛，但比赛被标记为已完成
# - 2: 断开连接，但重新连接并完成了比赛
# - 3: 断开连接且没有重新连接
# - 4: 未知

# 转换 skill 和 leaver_status 列
skill_descriptions = {
    1: 'Normal Skill',
    2: 'High Skill',
    3: 'Very High Skill'
}

leaver_status_descriptions = {
    0: 'Finished',
    1: 'Left, but completed',
    2: 'Disconnected, but reconnected',
    3: 'Disconnected',
    4: 'Unknown'
}

dota2_data_cleaned['skill_desc'] = dota2_data_cleaned['skill'].map(skill_descriptions).fillna('Unknown')
dota2_data_cleaned['leaver_status_desc'] = dota2_data_cleaned['leaver_status'].map(leaver_status_descriptions)

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,duration,start_time,kills,deaths,assists,skill,average_rank,leaver_status,KDA,win,hero_name,team,game_mode_name,lobby_type_name,average_rank_name,party_size_desc,skill_desc,leaver_status_desc
0,7315003851,55:52,2023-09-02 03:37:07,12,10,21,NaN,43.0,0,3.30,False,Sniper,Dire,Ranked All Pick,Ranked,Legend,Party of 2,Unknown,Finished
1,7314979360,20:46,2023-09-02 03:07:58,4,3,2,NaN,43.0,0,2.00,False,Necrophos,Dire,Ranked All Pick,Ranked,Legend,Party of 2,Unknown,Finished
2,7314947900,32:49,2023-09-02 02:29:50,13,1,14,NaN,41.0,0,27.00,True,Queen of Pain,Dire,Ranked All Pick,Ranked,Legend,Party of 2,Unknown,Finished
3,7295981381,41:29,2023-08-21 11:51:53,11,7,30,NaN,33.0,0,5.86,True,Warlock,Dire,Ranked All Pick,Ranked,Archon,Solo,Unknown,Finished
4,7295469023,44:49,2023-08-21 02:58:40,15,11,10,NaN,41.0,0,2.27,False,Necrophos,Radiant,Ranked All Pick,Ranked,Legend,Solo,Unknown,Finished

In [34]:
# 删除 'skill' 和 'leaver_status' 列
dota2_data_cleaned = dota2_data_cleaned.drop(columns=['skill', 'leaver_status'])

# 显示处理后的数据的前几行来确认变化
dota2_data_cleaned.head()

,match_id,duration,start_time,kills,deaths,assists,average_rank,KDA,win,hero_name,team,game_mode_name,lobby_type_name,average_rank_name,party_size_desc,skill_desc,leaver_status_desc
0,7315003851,55:52,2023-09-02 03:37:07,12,10,21,43.0,3.30,False,Sniper,Dire,Ranked All Pick,Ranked,Legend,Party of 2,Unknown,Finished
1,7314979360,20:46,2023-09-02 03:07:58,4,3,2,43.0,2.00,False,Necrophos,Dire,Ranked All Pick,Ranked,Legend,Party of 2,Unknown,Finished
2,7314947900,32:49,2023-09-02 02:29:50,13,1,14,41.0,27.00,True,Queen of Pain,Dire,Ranked All Pick,Ranked,Legend,Party of 2,Unknown,Finished
3,7295981381,41:29,2023-08-21 11:51:53,11,7,30,33.0,5.86,True,Warlock,Dire,Ranked All Pick,Ranked,Archon,Solo,Unknown,Finished
4,7295469023,44:49,2023-08-21 02:58:40,15,11,10,41.0,2.27,False,Necrophos,Radiant,Ranked All Pick,Ranked,Legend,Solo,Unknown,Finished

In [35]:
# 将处理后的 DataFrame 保存为 CSV 文件
csv_file_path = 'dota2_preprocessed.csv'
dota2_data_cleaned.to_csv(csv_file_path, index=False)

csv_file_path

'dota2_preprocessed.csv'